MONGODB_URI=mongodb+srv://netflixmails_db_user:wkdMMo0rQgLvfFI5@cluster0.qcuxelo.mongodb.net/?appName=Cluster0
DATABASE1=MAILS
DATABASE2=URL
PASSWORD=12345678
BASE_URL=https://netflix-black-gamma.vercel.app
